@import "tailwindcss";

@font-face {
  font-family: 'avant';
  src: url('./fonts/avant.ttf');
}

@font-face {
  font-family: 'sohne';
  src: url('./fonts/TestSohne-Kraftig-BF663d89cd37e26.otf');
}
@font-face {
  font-family: 'over';
  src: url('./fonts/ckhans-fonts-helonik-extended-bold-demo.otf');
}

::-webkit-scrollbar{
  display: none;
}

*{
  margin: 0;
  padding: 0;
}